h1 {
    text-align: center;
}

.midwest {
    color: #2d89ed
}

.supplements {
    color: #970000
}

#kyle-herman-ownership {
    display: block;
    margin: auto;
    width: 25%;
}

#navbar {
background-color: black;
display: flex;
justify-content: space-evenly;
list-style-type: none;
margin: 0;
padding: 0;
}

#navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}