h1 {
    text-align: center;
}

.midwest {
    color: #2d89ed
}

.supplements {
    color: #970000
}

#kyle-herman-ownership {
    display: block;
    margin: auto;
    width: 25%;
}

#navbar {
background-color: black;
display: flex;
justify-content: space-evenly;
list-style-type: none;
margin: 0;
padding: 0;
}

#navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.hero-banner {
    background: url('../assets/images/storefront.jpg') center/cover no-repeat;
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #storefront {
    background-image: url('../assets/images/storefront.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px; /* or however tall you want the hero */
  }