<footer class="site-footer">
    <div class="footer-left">
      <p>732 S Rangeline Rd STE G, Joplin, MO 64801</p>
      <p>&copy; 2025 Midwest Supplements. All rights reserved.</p>
    </div>
  
    <div class="footer-right">
      <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=61573455282473" target="_blank" aria-label="Facebook">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" />
        </a>
        <a href="https://www.instagram.com/midwestsupplements" target="_blank" aria-label="Instagram">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" />
        </a>
      </div>
      <a href="../pages/contact.html" class="contact-button">Contact Us</a>
    </div>
  </footer>