<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Midwest Supplements/navbar</title>
</head>
<body>
    <nav id="navbar">
        <div class="navbar-left">
            <a href="/index.html" class="navbar-logo">
                <img src="/assets/images/midwest-logo.png" alt="Midwest Supplements Logo">
            </a>
        </div>
        
        <ul class="navbar-right">
            <li><a href="/pages/about.html">About</a></li>
            <li><a href="/pages/products.html">Products</a></li>
            <li><a href="/pages/contact.html">Contact Us!</a></li>
        </ul>
    </nav>
</body>
</html>
